<launch>

  <arg name = "camOffsetX" default = "0.035">
  <arg name = "camOffsetY" default = "0.053">
  <arg name = "camOffsetZ" default = "0.0003">	

  <node name="thesis_active_3d_reconstruction_node" pkg="thesis_active_3d_reconstruction" type="thesis_active_3d_reconstruction_node" respawn="false" output="screen">
  </node>

</launch>